<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="test">
	<select id="selectAllWell" resultType="com.cover.entity.Well">
		select * from well
	</select>
	<select id="selectWellByorderON" parameterType="string" resultType="com.cover.entity.Well">
        select * from Well where orderON=#{orderON}
    </select>
 	<update id="updateWellById" parameterType="com.cover.entity.Well">
	    update well 
		<trim prefix="set" suffixOverrides=",">
			<if test="fLong != 0">
				fLong = #{fLong},
			</if>
			<if test="fLati != 0">
				fLati = #{fLati},
			</if>
			<if test="orderON != null">
				orderON = #{orderON},
			</if>
			<if test="UpCoverStatus != 0">
				UpCoverStatus = #{UpCoverStatus},
			</if>
			<if test="VibratingStatus != 0">
				VibratingStatus = #{VibratingStatus},
			</if>
			<if test="DownCoverStatus != 0">
				DownCoverStatus = #{DownCoverStatus},
			</if>
		</trim>
		<where>
			id=#{id}
		</where>
    </update>
</mapper>