<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="well">
 	<resultMap type="com.cover.entity.Well" id="WellResultMap">
       <!-- 用id属性来映射主键字段 -->
       <!-- 用result属性来映射非主键字段 -->
       <result column="well_ID" property="wellId"/>
       <result column="well_No" property="wellNo"/>
       <result column="up_cover_status" property="upCoverStatus"/>
       <result column="down_cover_status" property="downCoverStatus"/>
       <result column="vibrating_status" property="vibratingStatus"/>
    </resultMap>
    <select id="selectAllWell" resultType="com.cover.entity.Well" resultMap="WellResultMap">
		select * from welllocation,wellstatus where welllocation.well_No=wellstatus.well_No
	</select>
	<select id="selectWellByWellNO" parameterType="string" resultType="com.cover.entity.WellLocation">
        select * from welllocation where well_No=#{wellNo}
    </select>
 	<update id="updateWellById" parameterType="com.cover.entity.WellStatus">
	    update wellstatus 
		<trim prefix="set" suffixOverrides=",">
			<if test="upCoverStatus != 0">
				up_cover_status = #{upCoverStatus},
			</if>
			<if test="vibratingStatus != 0">
				vibrating_status = #{vibratingStatus},
			</if>
			<if test="downCoverStatus != 0">
				down_cover_status = #{downCoverStatus},
			</if>
		</trim>
		<where>
			well_No=#{wellNo}
		</where>
    </update>
    <insert id="saveWell" parameterType="com.cover.entity.WellLocation">
        insert into welllocation(well_No,fLong,fLati,province,city,district,street) values (#{wellNo},#{fLong},#{fLati},#{province},#{city},#{district},#{street})
    </insert>
</mapper>